@import "tailwindcss";
@plugin "daisyui";


/* @theme {
  --color-red-50:  #eff6ff;
  --color-red-100: #dbeafe;
  --color-red-200: #bfdbfe;
  --color-red-300: #93c5fd;
  --color-red-400: #60a5fa;
  --color-red-500: #3b82f6;
  --color-red-600: #2563eb;
  --color-red-700: #1d4ed8;
  --color-red-800: #1e40af;
  --color-red-900: #1e3a8a;
} */



html {
  scroll-behavior: smooth;
}
html { scrollbar-gutter: stable; }

body {
  background-color: #ffffff;
}


button {
    cursor: pointer;
}
.my-btn {
  background-color: #FF3500 !important;
  border-radius: 50px !important;
}

.big-btn {
    background-color: #FF3500 !important;
    border-radius: 50px !important;
    padding: 16px 40px !important;
    font-size: 18px !important;
    
}


/* Prevent text selection in FAQ */
.faq-noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* Standard */
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

